<h1><%= current_user.name%>'s Job Prospects </h1>
<%= link_to "New Job Propsect", new_job_prospect_path, :remote => true, :method => "get", :class => "btn btn-info new_job_prospect_button" %>
<div class="form" style = "display: none;">
	<%=render 'form'%>
</div>

<table class="table" id="job_prospects_list">
	<thead>
		<tr>
			<th> Company </th>
			<th> Position Applied For</th>
		</tr>
	</thead>
	<tbody>
		<% @job_prospects.each do |job_prospect| %>
			<%= render job_prospect %>
		<%end%>
	</tbody>
</table>

<%= will_paginate @job_prospects %>

