<tr id="<%=e.id%>">
	<td><%=e.contact%></td>
	<td><%=link_to "#{e.job_prospect.company}", job_prospect_path(e.job_prospect), :method => 'get'%></td>
	<td><%=date(e.conversation_date.month, e.conversation_date.day, e.conversation_date.year)%></td>
	<td><%= time(e.conversation_time.hour, e.conversation_time.min) if e.conversation_time%></td>
	<td><%=e.contact_info%></td>
	<td><%e.documents.each do |doc| %>
				<%=link_to file_name(doc), doc.file.url%>
			<%end%>
	</td>
	<td><%=link_to "Edit", edit_job_prospect_event_path(e.job_prospect, e), :class => "btn btn-small btn-info"%></td>
	<td><%=link_to "Delete", job_prospect_event_path(e.job_prospect, e), :confirm => "Are you sure you want to delete this event?", :method => 'delete', :remote => true, :class => "btn btn-small btn-warning"%></td>
</tr>