<div class="span6 offset2" id="eventform">
<%= form_for [:job_prospect, @event] do |f|%>
	<%=f.label :contact%>
	<%=f.text_field :contact%>
	<%=f.label :contact_info, "Contact Info or Address"%>
	<%=f.text_field :contact_info%>
	<%=f.label :conversation_date, "Date"%>
	<%= f.date_select(:conversation_date, 
										options = { order: [:month, :day, :year], 
																prompt: { month: 'Month', day: 'Day', year: 'Year' }, 
										start_year: 2011 }, 
										html_options = { size: 1, :class=>"span2" }) %>
	<%=f.label :conversation_time, "Time"%>
	<%=f.time_select(:conversation_time, {:prompt => {hour: 'Hour', minute: 'Minute'}, :ampm => true}, {size: 1, :class=>"span2"})%>
	<%=f.label :conversation_type %>
	<%=f.text_field :conversation_type%>
	<%=f.label :notes%>
	<%=f.text_area :notes, :class => "span5", :rows => 5%><br/>
	<%=f.submit :class => "btn btn-info"%>
<%end%>
</div>


