<div class="navbar navbar-fixed-top ">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="<%= root_path %>">JobOrg</a>
      <div class="container nav-collapse">
        <% if user_signed_in? %>
          <ul class="nav pull-right">
            <li><%= link_to "Job Prospects", job_prospects_path  %></li>
             <li><%= link_to "All Events", all_events_path  %></li>
             <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
          </ul>
        <% else %>
          <ul class="nav pull-right">
            <li><%= link_to "Sign In", new_user_session_path %></li>
          </ul>
        <% end  %>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>2