<!DOCTYPE html>
<html>
<head>
  <title>JobOrg</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/navigation'%>
	<div class="container" >
		<div class="row">
			<div class="errors-alerts span10 offset1">
				<div class="alert alert-warning" style = "display: none;"></div>
				<div class="alert alert-error" style = "display: none;"></div>
				<div class="alert alert-success" style = "display: none;"></div>
				<% flash.each do |key, value| %>
					<%= content_tag(:div, value, class: "alert alert-#{key}")%>
				<%end%>
			</div>
			<div class="content span10 offset1">
				<%= yield %>
			</div>
		</div>
	</div>
	<div class="footer">
		<%=debug(params) if Rails.env.development? %>
	</div>
</body>
</html>
