<!DOCTYPE html>
<html>
<head>
  <title>JobOrg</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
	<div class="container" >
		<div class="row">
			<div class="span11">
				<% flash.each do |key, value| %>
					<%= content_tag(:div, value, class: "alert alert-#{key}")%>
				<%end%>
				<%= yield %>
				<%=debug(params)%>
			</div>
		</div>
	</div>
</body>
</html>
